.sidebar {
   width: 320px;    
   height: 100%;
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 24px;
   position: fixed;
   z-index: 20;
   left: -320px;
   top: 0px;
   
}

.sidebar.open {
    position: fixed;
    left:0px;
    
       
}

.background {
   position: fixed;
   z-index: 10;
   width: 100%;
   height: 100%;
   background-color: #D1D1D1;
   opacity: 0.5;


   
   
}
/*  экран прослойка с затемением */

.nav {
   display: flex;
   flex-direction: column;
   padding-left: 40px;
   
}

.nav a {
  font-size: 22px;
  color:black;
  text-decoration: none; 
  margin-bottom: 45px; 
}

.nav a:hover {
   color: #58ACFF;
   text-decoration: underline;
}

.nav a.active {
   color: #3D6B99;
   text-decoration: none;

}
.close {
   max-width: 24px;
   max-height: 24px;
   background-color: white;
   border: none;
   margin-bottom: 22px;  
   align-self: flex-end;  
}

.close img {
  height: 24px;
  width: 24px; 
   
   
}
