.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
button {
  background-color: aqua;
}

.container {
}

.thead {
}

.nameCol {
}

.ageCol {
}
